Combining the historical data with external data sources - Daksh Agrawal

In [66]:
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np
import geopandas as gpd

In [67]:
# Load the historical data
historical_data = pd.read_csv('../data/raw/historical_data.csv')
historical_data.head()

,type,suburb,Count,Date,Median
0,1 bedroom flat,Albert Park-Middle Park-West St Kilda,352.0,Mar 2000,165.0
1,1 bedroom flat,Armadale,210.0,Mar 2000,150.0
2,1 bedroom flat,Carlton North,87.0,Mar 2000,150.0
3,1 bedroom flat,Carlton-Parkville,303.0,Mar 2000,165.0
4,1 bedroom flat,CBD-St Kilda Rd,755.0,Mar 2000,250.0

In [68]:
historical_data['year_completed'] = pd.to_datetime(historical_data['Date']).dt.year

/var/folders/_7/sr3p02zn35v2xg1fm8dsbz6c0000gn/T/ipykernel_4701/2845172568.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  historical_data['year_completed'] = pd.to_datetime(historical_data['Date']).dt.year

In [69]:
# Read victoria district boundaries shapefile
victoria_gdf = gpd.read_file('../data/landing/boundaries/Victoria/vic_dist_boundaries.shp')
victoria_gdf.head()

,sa2_code,sa2_name,chg_flag,chg_lbl,sa3_code,sa3_name,sa4_code,sa4_name,gcc_code,gcc_name,ste_code,ste_name,aus_code,aus_name,areasqkm,loci_uri,geometry
0,201011001,Alfredton,0,No change,20101,Ballarat,201,Ballarat,2RVIC,Rest of Vic.,2,Victoria,AUS,Australia,52.7109,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((143.78281 -37.56667, 143.75557 -37.5..."
1,201011002,Ballarat,0,No change,20101,Ballarat,201,Ballarat,2RVIC,Rest of Vic.,2,Victoria,AUS,Australia,12.3787,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((143.81896 -37.55583, 143.81644 -37.5..."
2,201011005,Buninyong,0,No change,20101,Ballarat,201,Ballarat,2RVIC,Rest of Vic.,2,Victoria,AUS,Australia,51.5855,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((143.8417 -37.61597, 143.84175 -37.61..."
3,201011006,Delacombe,0,No change,20101,Ballarat,201,Ballarat,2RVIC,Rest of Vic.,2,Victoria,AUS,Australia,34.1607,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((143.75049 -37.5912, 143.75044 -37.59..."
4,201011007,Smythes Creek,0,No change,20101,Ballarat,201,Ballarat,2RVIC,Rest of Vic.,2,Victoria,AUS,Australia,104.7274,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((143.73295 -37.62334, 143.73262 -37.6..."

In [70]:
# Merge the historical data with the district boundaries based on the name
historical_data = historical_data.merge(victoria_gdf[["sa2_name", "sa2_code"]], left_on='suburb', right_on='sa2_name')
historical_data

,type,suburb,Count,Date,Median,year_completed,sa2_name,sa2_code
0,1 bedroom flat,Armadale,210.0,Mar 2000,150.0,2000,Armadale,206061135
1,1 bedroom flat,Docklands,NaN,Mar 2000,NaN,2000,Docklands,206041118
2,1 bedroom flat,East Melbourne,203.0,Mar 2000,180.0,2000,East Melbourne,206041119
3,1 bedroom flat,Elwood,585.0,Mar 2000,150.0,2000,Elwood,206051129
4,1 bedroom flat,Fitzroy,176.0,Mar 2000,140.0,2000,Fitzroy,206071142
...,...,...,...,...,...,...,...,...
29619,All properties,Seymour,143.0,Mar 2023,365.0,2023,Seymour,204011059
29620,All properties,Swan Hill,299.0,Mar 2023,320.0,2023,Swan Hill,215031404
29621,All properties,Torquay,547.0,Mar 2023,620.0,2023,Torquay,203031053
29622,All properties,Warragul,497.0,Mar 2023,440.0,2023,Warragul,205011079
29623,All properties,Wodonga,1173.0,Mar 2023,410.0,2023,Wodonga,204031492