In [5]:
import pandas as pd

In [6]:
# Load the data
pd_excel_file = pd.ExcelFile("../data/landing/historical_data.xlsx")

In [ ]:
processed_data = []

In [9]:
for sheet in pd_excel_file.sheet_names:
    print(sheet)
    
    break

1 bedroom flat
               0                                      1         2       3    \
1   1 bedroom flat                                    NaN  Mar 2000     NaN
2   1 bedroom flat                                    NaN     Count  Median
3  Inner Melbourne  Albert Park-Middle Park-West St Kilda       352     165
4  Inner Melbourne                               Armadale       210     150
5  Inner Melbourne                          Carlton North        87     150

        4       5         6       7         8       9    ...       178  \
1  Jun 2000     NaN  Sep 2000     NaN  Dec 2000     NaN  ...  Mar 2022
2     Count  Median     Count  Median     Count  Median  ...     Count
3       347     165       378     170       369     175  ...       269
4       212     150       213     155       213     160  ...       223
5        78     155        74     150        65     150  ...        79

      179       180     181       182     183       184     185       186  \
1     NaN  Jun 2022     NaN  Sep 2022     NaN  Dec 2022     NaN  Mar 2023
2  Median     Count  Median     Count  Median     Count  Median     Count
3     315       262     325       277     340       260     350       262
4     310       233     320       237     340       238     350       204
5     300        68     320        72     320        71     330        64

      187
1     NaN
2  Median
3     360
4     360
5     373

[5 rows x 188 columns]

/var/folders/_7/sr3p02zn35v2xg1fm8dsbz6c0000gn/T/ipykernel_5588/3029093133.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_sheet[0] = df_sheet[0].fillna(method='ffill')

In [13]:
sheet_0 = pd_excel_file.parse(0, header=None)
df_sheet = pd_excel_file.parse(sheet, header=None)
df_sheet = df_sheet.drop([0])
df_sheet[0] = df_sheet[0].ffill()
df_sheet[[1]] = df_sheet[[1]].ffill()
df_sheet.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
1,1 bedroom flat,NaN,Mar 2000,NaN,Jun 2000,NaN,Sep 2000,NaN,Dec 2000,NaN,...,Mar 2022,NaN,Jun 2022,NaN,Sep 2022,NaN,Dec 2022,NaN,Mar 2023,NaN
2,1 bedroom flat,NaN,Count,Median,Count,Median,Count,Median,Count,Median,...,Count,Median,Count,Median,Count,Median,Count,Median,Count,Median
3,Inner Melbourne,Albert Park-Middle Park-West St Kilda,352,165,347,165,378,170,369,175,...,269,315,262,325,277,340,260,350,262,360
4,Inner Melbourne,Armadale,210,150,212,150,213,155,213,160,...,223,310,233,320,237,340,238,350,204,360
5,Inner Melbourne,Carlton North,87,150,78,155,74,150,65,150,...,79,300,68,320,72,320,71,330,64,373